---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <div class="row">
  {% if site.front_page_pics != null %}
  {% for pic in site.front_page_pics %}
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="card" style="background-color:#eee;border:0;box-shadow:none">
        <img class="rounded" src="{{ pic.img | prepend: site.baseurl  }}">
        <p class="card-text text-xs-center text-muted">{{ pic.description }}</p>
      </div>
    </div>
  {% endfor %}
  {% endif %}
  </div>
  <div class="row">
    <p>{{ site.description | markdownify }}</p>
  </div>
</div>

<h2>News</h2>
<ul class="news list-unstyled">
  {% for post in site.posts limit: site.front_page_news %}
  {% include news-item.html item=post %}
  {% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<div style="display:inline-flex;align-items:center">
  <div class="newsicon" style="padding-right:10px"><i class="fa fa-history"></i></div>
  <a href="{{ site.baseurl }}Archive">Older posts&hellip;</a>
</div>
{% endif %}
