---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <p>
    The <b>Solar Physics Research Group</b> at <b>Rice University</b> uses computational modeling and observational tools to explore a variety of topics in solar and space plasma physics. Our current <a href="{{ site.base}}/Research.html">research projects</a> range from forward modeling of nanoflare-heated solar active regions to magnetic interactions between stars and planets. We are housed within the Department of Physics and Astronomy and located primarily in <a href="http://www.rice.edu/maps/Rice-University-Color-Campus-Map.pdf">Herman Brown Hall for Mathematical Sciences</a>.
  </p>
</div>

<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/blog/">Older posts&hellip;</a></p>
{% endif %}
