---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <div class="row">
  {% if site.front_page_pics != null %}
  {% comment %}Get the needed offset, assume they are all the same width
  {% endcomment %}
  {% assign offset = site.front_page_pics[0].width | times: site.front_page_pics.size %}
  {% for pic in site.front_page_pics %}
    <div class="col-sm-{{ pic.width }}{% if forloop.first == true %} col-sm-offset-{{ offset | minus: 12 | times: -1 | divided_by: 2}}{% endif %}">
      <!--<div class="thumbnail">-->
      <figure class="figure">
        <img class="figure-img img-fluid" src="{% if pic.img != null %}{{ site.baseurl }}{{ pic.img }}{% else %}http://placehold.it/250x250?text=no+picture{% endif %}">
        <figcaption class="figure-caption text-xs-left">{{ pic.description }}</figcaption>
      </figure>
    </div>
  {% endfor %}
  {% endif %}
  </div>
  <div class="row">
    <p>{{ site.description | markdownify }}</p>
  </div>
</div>

<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
{% include news-item.html item=post %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<div style="display:inline-flex;align-items:center;">
  <div class="newsicon"><i class="fa fa-history"></i></div>
  <a href="{{ site.base }}/blog/">Older posts&hellip;</a>
</div>
{% endif %}
