<h2>Current Members</h2>
<ul>
  {% for person in site.data.people %}
    <h3>{{ person.name }}</h3>
    <li>{{ person.position }}</li>
    {% if person.webpage != null %}
      <li><a href="{{ person.webpage }}" >Personal Webpage</a></li>
    {% endif %}
  {% endfor %}
</ul>
<h2>Alumni</h2>
<ul>
  {% for person in site.data.alumni %}
    <h3>{{ person.name }}</h3>
    <li>{{ person.degree }}, {{ person.thesis }} ({{ person.year }})</li>
    <li>{{ person.postion }}<br>
        {{person.institution}}, {{person.location}}</li>
  {% endfor %}
</ul>
