<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <!-- Navbar/menu -->
      {% include navbar.html %}
      <!-- -->
      {% if page.notitle != true %}
      <h2>{{ page.title }}</h2>
      {% endif %}
      <div class="container" id="inner-body">
        {{ content }}          
      </div>
      <!-- Footer -->
      {% include footer.html %}
    </div>
    <!-- Support retina images. -->
    <script type="text/javascript" src="{{ site.base }}/js/srcset-polyfill.js"></script>
  </body>
</html>
